{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - About Me</title>
{% endblock %} {%block body%}
<section>
  <h2 class="skills">About Me</h2>
  <hr />
  <p style="text-align: center" class="fade-in-text">
    Hey I'm Patrick! My expertise spans the realms of Python, C#, SQL, HTML5,
    CSS, a little JavaScript. This allows me to deliver comprehensive and
    integrated solutions for diverse software requirements. In Python, I
    specialize in web development using frameworks like Django and Flask,
    creating robust and scalable applications with a focus on optimal user
    experiences. Simultaneously, my proficiency in C# empowers me to craft
    desktop applications and services within the .NET framework, ensuring a
    seamless user interface and robust backend functionality. Leveraging SQL, I
    adeptly design and manage databases, implementing efficient data models and
    optimizing queries for enhanced performance. This holistic approach enables
    me to seamlessly navigate between front-end and back-end technologies,
    delivering end-to-end solutions that meet the highest standards of
    functionality, performance, and security. My commitment to utilizing the
    strengths of Python, C#, and SQL positions me as a versatile developer
    capable of addressing a spectrum of software development needs.
  </p>
</section>

<section>
  <img
    src="/static/GMME.jpg"
    alt="pixel art picture"
    style="max-width: 100%; height: auto; display: block; margin: auto"
  />
</section>
{% endblock %}
