{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - Personal Website</title>
{% endblock %} {%block body%}
<section>
  <div class = "inline-div">
  <div class = "boxes">
  <h2>Contact Me</h2>
  <p>Write me a message and lets get coffee sometime.<br> I made these coffee cups to give this page a little<br> more pizzaz, I can make icons like this for any retro project</p>
  </div>
  <div style = "padding-bottom: 0px; padding-left: 10px;"class = "boxes">
    <img src = "static\Icons\CoffeeIcon.png" style="padding-bottom: 10px; height: 96px; width: 96px;" alt = "CoffeeIcon">
    <img src = "static\Icons\CoffeeIcon.png" style="padding-bottom: 10px; height: 96px; width: 96px;" alt = "CoffeeIcon">
    <img src = "static\Icons\CoffeeIcon.png" style="padding-bottom: 10px; height: 96px; width: 96px;" alt = "CoffeeIcon">
    </div>
  </div>
</section>

<section>
<h1 style = "text-align: center;">Click on the Email to Send me a Message</h1>
<h2 style = "text-align: center;"><a href = "mailto:patrickmadon130@gmail.com">patrickmadon130@gmail.com</a></h2>

</section>
{% endblock %}
