{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - Homepage</title>
{% endblock %} {%block body%}
<section>
  <h2 class="fade-in-title">
    <span style = "font-size: 150%;"class="sectionTitle">I make programs and applications in Python and C# to create fun experiences for people!</span>
  </h2>
</section>
<section>
  <div class ="inline-div">
  <div class = "boxes">
  <h2 style = "text-align: left; white-space: nowrap; width: 150px; margin: 0px 0px 0px;" class="sectionTitle">Hello You!</h2> 
  </div>
  <div class = "boxes">
  <p style = "margin: 0px 0px 0px;">You probably thought I was gonna say "Hello World" </p>
  </div>
  <hr>
  <div class="boxes">
    <img src = "static/Icons/PatrickIcon.png"
    alt="Picture of Patrick"
    style = "width: 150px; display: block; margin: auto"
    >
  </div>
  <div class = "boxes">
  <p style = "width: 400px; font-size: 110%; text-align: left;">Hey I'm Patrick! My expertise spans the realms of Python, C#, SQL, HTML5,
    CSS, a little JavaScript. This allows me to deliver comprehensive and
    integrated solutions for diverse software requirements.</p>
  </div>
  </div>
</section>

<section class = "clearContainer" style = "padding-left:60px; padding-right:60px">
<div class = "inline-div">
  <div class = "boxes">
<section class = "mini">
  <h2 style = "text-align: center;"><a href = "/past-projects">Projects</a></h2>
  <hr />
  <p>Interested in what I'm currently making or what I've made in the past?</p>
  <div style="display: flex; justify-content: center; align-items: center">
  <!-- Add more information as needed -->
  </div>
</section>

</div>
<div class = "boxes">
<section class = "mini">
  <h2 style = "text-align: center;"><a href = "/about-me">Social Media<br>Where I Post My Stuff</a></h2>
  <hr />
  <div style="display: flex; justify-content: center; align-items: center">
      <img><a href="https://www.linkedin.com/in/patrick-madonna/"><img src = "static\Icons\LIcon.png"></a>
      <a href="https://github.com/GreenyPM"><img src = "static\Icons\GitIcon.png"></a>
      <a href="https://www.instagram.com/patsamuri9lolz/"><img src = "static\Icons\InstIcon.png"></a>
  </div>
  <p><b style = "font-size: 20px">Click the above icons to check them out.</b></p>
</section>
</div>

<div class = "boxes">
<section class = "mini">
  <h2 style = "text-align: center;"><a href="https://patricksbb.blogspot.com/">Blog</a></h2>
  <hr />
  <p>Click here if you wanna know what I'm up to from month to month, or just like reading?</p>
  <div style="display: flex; justify-content: center; align-items: center">
    <!-- Add more information as needed -->
    </div>
</section>
</div>
</div>
</section>
{% endblock %}
