{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - Personal Website</title>
{% endblock %} {%block body%}
<section>
  <h1 class="skills">Projects Portfolio</h1>
  <hr/>
  <p style="text-align: center">
    As a seasoned developer, I take pride in the diverse range of projects I've
    had the opportunity to bring to life. Each project reflects not only my
    technical proficiency but also my commitment to solving real-world problems
    through innovative and efficient solutions.<br />
    <b>Here's a glimpse into some of my past projects</b>
  </p>
</section>

<section>
  <iframe  height="480" width="720"
  src="https://www.youtube.com/embed/YCsViwdnVTM"
  alt="TypeDevilBot"
  style="max-width: 90%; display: block; margin: auto"></iframe>

  <a href = 'https://www.youtube.com/@typedevilbot683'><h2 class = "semi-important">Type:Devilbot</h2></a>
    <p>
      <h4>First Made: 2021 Q1 </h4>

      <h4>Updated Last: 2023 Q1  </h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    This was a Project made in Unity using C# and the Unity Libraries to make a Mouse and Keyboard controlled Robotic Vtuber Model.
    I live streamed with this as my avatar for about 2 years and the project had revisions and additions to the code every time I streamed.
    This was how I built my foundations of Object Oriented Programming. <b>you can watch some of the videos utilizing it by clicking on the project name.</b>
    <br>

    <div style = 'text-align: center; padding: 1em'>
    </div>
    <h6>Tech Used: Unity and C#</h6>
</section>

<section>
  <img
  src="/static/PPCCTitle.png"
  alt="PPCCPicture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <a href="https://github.com/GreenyPM/PersonalPokemonCardCreator-Public-"><h2 class = "semi-important">PPCC-Personal Pokemon Card Creator</h2></a>
    <p>
      <h4>First Made: 2022 Q4 </h4>

      <h4>Updated Last: 2024 Q4 </h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    A Personal Pokémon Card Creator, the user answers a series of quiz questions and then is told what their Pokemon type is based on their answers. 
    Then the user is prompted to pose for a photo to have it taken, so with the use of a card printer the user is able to print their own custom pokemon card. 
    These make for great gifts for fans of pokemon or just fans of the card game. <b>If you'd like to know more click on the title to got to the GitHub repo.</b>
    <br>
    <br>
    <h6>Tech Used: Python, Libraries(Tkinter, OpenCV, Pillow)</h6>
</section>

<section>
  <img
  src="/static/NerdsHour.png"
  alt="pixel art picture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <h2 class = "semi-important">Nerds Hour</h2>
    <p>
      <h4>First Made: 2023 Q1</h4>

      <h4>Updated Last: 2024 Q4</h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    A Comic-Book, Videogame, and, Anime Gameshow made in Python. This was hosted on stage infront of a live audience durring the SUNY Canton Comic-Con for 2023 and 2024.
    I brought up students to the stage to test their trivia, shilhoette recogntion, videogame skills, and, sound recognition. I'm interested in continuing the show if 
    enough people are interested and given the right venue. <br>
    <b>(I have not released the source code publically yet.)</b>
    <br>
    <br>

    <h6>Tech Used:  Python, Microsoft Excel, Libraries(Pandas, Tkinter, OpenCV)</h6>
</section>

<section>
  <img
  src="/static/eggicon.png"
  alt="pixel art picture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <a href = "https://greenypm.itch.io/egg"><h2 class = "semi-important">Egg.</h2></a>
    <p>
      <h4>First Made: 2021 Q2</h4>

      <h4>Updated Last: 2021 Q2</h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    This is just a game that I made for a friend after we had just gotten done talking about eggs and how they are pretty cool.
    keep in mind this game was finished 4 weeks after. When I showed them the game they said "Wow, I can't believe you actually did it!".
    <br>
    <br>

    </div>
    <h6>Tech Used: Unity and C#</h6>
</section>

<section>
  <img
  src="/static/Excel.jpg"
  alt="pixel art picture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <a href = "https://github.com/GreenyPM/GameDictionaryWExcel"><h2 class = "semi-important">🎮 Python Game Dictionary Application 🎮</h2></a>
    <p>
      <h4>First Made: 2023 Q4</h4>

      <h4>Updated Last: 2024 Q1</h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    I made this Game Dictionary Application over the Winter Break of 2023. I made this in a day and utilized the Pandas library to transfer the data directly into an Excel document. 
    This application focuses on dictionary manipulation in Python. It utilizes the basic ideas of Databases using a pk or Primary Key to prevent the script from overwriting the values of
     keys in the dictionary. I plan to re-use ideas of this code later to work with a MySQL database and Django. This is a proof of concept to better establish my interest and skills in 
     data manipulation and software development.
    <br>
    <br>

    <h6>Tech Used: Python, Library(Pandas)</h6>
</section>

<section>
  <img
  src="/static/RegularScreen.png"
  alt="pixel art picture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <a href="https://github.com/GreenyPM/OutlawAlley-WildWestFest"><h2 class = "semi-important">Outlaw Alley</h2></a>
    <p>
      <h4>First Made: 2023 Q3</h4>

      <h4>Updated Last: 2023 Q4</h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    This is a WANTED Poster Generator made for Spingfest 2024. The user inputs in their custom bandit name and their custom bounty ammount.
    They then have the option to add a filter on to their picture  before they pose for it. After this the user poses for a picture and is 
    given a custom wanted poster to keep or print.
    <br>
    <br>

    <h6>Tech Used: Python, Libraries(Tkinter, OpenCV, Pillow)</h6>
</section>

<section>
  <img
  src="/static/Wowza.png"
  alt="pixel art picture"
  style="max-width: 90%; height:480px; width:720px; display: block; margin: auto"/>

  <a href = "https://github.com/GreenyPM/Intergalactic-Buddy-Maker-IBM"><h2 class = "semi-important">Intergalactic Buddy Maker</h2></a>
    <p>
      <h4>First Made: 2023 Q4</h4>

      <h4>Updated Last: 2023 Q4</h4>

    </p>
    <hr><hr/>
    <b>Desription:</b><br>
    This at its base is a GUI prompt-entry application utilizing the ChatGPT Dall-E API.
    The conversion process in the code is quite complex as the image has to be converted from a JSON file to a JPG.
    //I haven't included my key as I don't want to be charged, because a random person is making images with this piece of software.
    <br>
    <br>

    <h6>Tech Used: Python, Libraries(OpenAi, Tkinter)</h6>
</section>

{% endblock %}
