{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - Personal Website</title>
{% endblock %} {%block body%}
<section>
  <h2 class="skills">Services I Provide</h2>
  <hr/>
  <p style="text-align: center">
    I provide the following services for events or contract. <br />If you have
    an idea for something you'd like besides the listed items; please contact
    me.<br />
    I'm open to new opportunities and I'll see what I can do for you.
  </p>
</section>

<section>
  <h2 class = 'semi-important'>Python Tutoring: Basic to Intermediate</h2>
  <h3>Embark on a coding journey that's both exciting and tailored just for you! Are you ready 
    to dive into the world of Python programming with a dedicated and enthusiastic guide?<br><br>
    Why Choose Me?
    <hr></hr>
    <b>Customized Learning Path:</b> Say goodbye to one-size-fits-all lessons! Together, we'll design a learning path that aligns with your goals and interests.<br><br>
    <b>Engaging and Interactive Sessions:</b> Learning is fun! Our sessions will be filled with hands-on exercises, real-world applications, and coding challenges to keep you motivated.<br><br>
    <b>Clear, Jargon-Free Explanations:</b> No more confusion! I specialize in breaking down complex concepts into easy-to-understand, digestible pieces.<br><br>
    <b>Flexible Scheduling:</b> Life is busy, and learning should fit seamlessly into your routine. We'll find a schedule that works best for you.
    
  </h3>
  <img alt="Picture of thing" />
</section>
<section>
  <h2 class = 'semi-important'>Nerd's Hour: The Japanese Gameshow Americanized</h2>
  <h3>
    This is a Trivia and Videogame Gameshow! The questions are based on Anime,
    Manga, Movies, Video Games, and Comic-Books! This is an unforgettable
    experience, with me as your host I bring a sense of engagement with the
    audience such as the likes not many gameshows have seen. If you're
    interested to learn more please contact me on my "Contact Me" page above if
    you're interested. (Website Coming Soon!)
  </h3>
  <img alt="Picture of thing" />
</section>
<section>
  <h2 class = 'semi-important'>Computer/Software Issue Diagnosis</h2>
  <h3>
    I have experience in the Information Technology field and can assist you in
    solving your technical problems. That is for a small fee, other terms apply
    please contact me on my "Contact Me" page above if you're interested.
  </h3>
  <img alt="Picture of thing" />
</section>

{% endblock %}
