{% extends 'base.html' %} {%block head%}
<title>Patrick Madonna - Personal Website</title>
{% endblock %} {%block body%}
<section>
  <h2>About Me</h2>
  <p>Write a brief introduction about yourself here.</p>
</section>

<section>
  <h2>Skills</h2>
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <!-- Add more skills as needed -->
  </ul>
</section>

<section>
  <h2>Contact</h2>
  <p>Email: your.email@example.com</p>
  <p>LinkedIn: [Your LinkedIn Profile]</p>
  <!-- Add more contact information as needed -->
</section>
{% endblock %}
